<!-- Contact section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown">
                <h2 class="section-heading">Get In Touch</h2>
                <h3 class="section-subheading text-dark">
                    Below you will find details on how to contact me if interested.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <!-- Contact details -->
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-text wow fadeIn animated text-center">
                                <h4>Contact details</h4>
                                <p>I would be more than grateful to discuss any possible vacations and
                                    I would be available for an interview at your convenience. Moreover,
                                    please do not hesitate to contact me via the details
                                    specified below if further information is needed.
                                </p>
                                <p class="wow fadeInUp animated">
                                    <i class="fa fa-map-marker fa-lg"></i>
                                    71 Grove Street, Edinburgh, United Kingdom
                                </p>
                                <p class="wow fadeInUp animated">
                                    <a href="tel:+447707039734">
                                        <i class="fa fa-mobile fa-lg"></i>+44 7707 039 734
                                    </a>
                                </p>
                                <p class="wow fadeInUp animated">
                                    <a href="mailto:mihaivisuian@gmail.com">
                                        <i class="fa fa-envelope-o"></i>mihaivisuian@gmail.com
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- Contact details End -->
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section End -->
