<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Buddhabrot Fractal</h2>
                        <p class="item-intro text-muted">
                            Buddhabrot Fractal rendering program built in haskell
                            for a University contest.
                        </p>
                        <img class="img-responsive img-centered" src="img/portfolio/1.jpg" alt="">
                        <p>
                            This represents a program rendering a Buddhabrot fractal
                            using Haskell language and OpenGL libraries. This Project
                            was developed for a Fractal development competition held
                            at University level in First Academic Year's Functional
                            Programming course. The image below represents a rendering
                            over 10 iterations of the fractal.
                        </p>
                        <ul class="list-inline">
                            <li>Date: <span>November 2014</span></li>
                            <li>Category: <span>Functional Programming</span></li>
                            <li>Github Repository:
                                <a target="_blank" href="https://github.com/MihaiVisu/BuddhaBrot-Fractal-in-OpenGL-and-Haskell.git">here</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-x1" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 1 End -->

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Flappy Bird for Desktop</h2>
                        <p class="item-intro text-muted">
                            Flappy Bird clone for Desktop built in Java for a first-year OOP project.
                        </p>
                        <img class="img-responsive img-centered" src="img/portfolio/2.jpg" alt="">
                        <p>
                            This represents a program developed for an optional project in my
                            first academic year with the purpose of practising object oriented
                            programming skills in Java. It actually represents a clone of
                            the well known Flappy Bird game, built using LWJGL graphics libraries
                            (used in Minecraft as well). This project also contains an Android-compatible
                            version and the entire program was developed in eclipse using the additional
                            Android SDK. For the desktop version to work Android SDK is not necessary.
                        </p>
                        <ul class="list-inline">
                            <li>Date: <span>April 2015</span></li>
                            <li>Category: <span>Java / Object Oriented Programming</span></li>
                            <li>
                                Github Repository:
                                <a target="_blank" href="https://github.com/MihaiVisu/FlappyBirdLike-Android.git">here</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-x1" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 End -->

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Cloth Engine</h2>
                        <p class="item-intro text-muted">
                            Cloth engine built in Javascript using WebGL.
                        </p>
                        <img class="img-responsive img-centered" src="img/portfolio/3.jpg" alt="">
                        <p>
                            This project represents a cloth engine built using Javascript and WebGL, mostly the
                            requestAnimationFrame() function. The cloth is drawn using a HTML5 canvas. The project
                            on GitHub also contains a gh-pages branch, so a demo of the program is available
                            <a target="_blank" href="http://mihaivisu.github.io/ClothEngineJS/">here</a>.
                        </p>
                        <ul class="list-inline">
                            <li>Date: <span>August 2015</span></li>
                            <li>Category: <span>Javascript</span></li>
                            <li>Github Repository:
                                <a target="_blank" href="https://github.com/MihaiVisu/ClothEngineJS.git">here</a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-x1" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3 End -->
