<!-- Resume Section -->
<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown animated">
                <h2 class="section-heading">Resume</h2>
                <h3 class="section-subheading text-muted">
                    Section summarising my resume.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- exprience -->
                    <li class="timeline-inverted">
                        <div class="timeline-image wow zoomIn animated">
                            <span class="ico">
                                <i class="fa fa-briefcase"></i>
                            </span>
                        </div>
                        <div class="timeline-panel wow fadeInRight animated">
                            <div class="timeline-heading">
                                <h2 class="subheading">Work Experience</h2>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Companies I have worked for and projects
                                    I have contributed to.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image wow zoomIn animated">
                            <h4>May 2015
                                <br>-
                                <br>Present
                            </h4>
                        </div>
                        <div class="timeline-panel wow fadeInLeft animated">
                            <div class="timeline-heading">
                                <h4>Mappingbook Ltd</h4>
                                <h4 class="subheading">Software Engineer Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I obtained an internship in Software Engineering
                                    at the beginning of the summer at which I
                                    contributed to the development of consistent
                                    web projects mainly for the European Commission.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image wow zoomIn animated">
                            <h4>
                                4th-8th
                                <br>April 2016
                            </h4>
                        </div>
                        <div class="timeline-panel wow fadeInRight animated">
                            <div class="timeline-heading">
                                <h4>J.P. Morgan Chase & Co</h4>
                                <h4 class="subheading">Spring Technology Analyst Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I took part at a one week Spring Insight Programme
                                    organised by <b>J.P. Morgan</b> in Glasgow,
                                    UK, as a Technology Analyst Intern.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image wow zoomIn animated">
                            <h4>
                                <br>
                                June 2015
                            </h4>
                        </div>
                        <div class="timeline-panel wow fadeInLeft animated">
                            <div class="timeline-heading">
                                <h4>ThinkWhere</h4>
                                <h4 class="subheading">Trainee</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I attended a training organised by the
                                    company ThinkWhere in Stirling, Scotland and funded
                                    by Mappingbook Ltd. The training involved mainly development
                                    of database management skills through
                                    PostgreSQL object-relational database
                                    management system and PostGIS.
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- exprience End -->

                    <!-- education -->
                    <li class="timeline-inverted">
                        <div class="timeline-image wow zoomIn animated">
                            <span class="ico">
                                <i class="fa fa-graduation-cap"></i>
                            </span>
                        </div>
                        <div class="timeline-panel wow fadeInRight animated">
                            <div class="timeline-heading">
                                <h2 class="subheading">Education</h2>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Academic awards and educational-related
                                    achievements.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image wow zoomIn animated">
                            <h4>Sep 2014
                                <br>-
                                <br>Present
                            </h4>
                        </div>
                        <div class="timeline-panel wow fadeInLeft animated">
                            <div class="timeline-heading">
                                <h4>University of Edinburgh</h4>
                                <h4 class="subheading">
                                    Software Engineering (BEng HONS)
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I am currently a second year student
                                    pursuing my bachelor's 4-year
                                    degree in Software Engineering.
                                    <br>
                                    Relevant courses: Object Oriented Programming,
                                    Linear Algebra, Calculus and its Applications,
                                    Computation and Logic, <b>Cognitive Science</b>,
                                    Data and Analyis, Functional Programming,
                                    <b>Proofs and Problem Solving</b>,
                                    Discrete Mathematics and Mathematical Reasoning,
                                    Computer Systems, Introduction to Software Engineering,
                                    Processing Formal and Natural Languages
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image wow zoomIn animated">
                            <h4>Sep 2010
                                <br>-
                                <br>May 2014
                            </h4>
                        </div>
                        <div class="timeline-panel wow fadeInRight animated">
                            <div class="timeline-heading">
                                <h4>"Liviu Rebreanu" National College</h4>
                                <h4 class="subheading">Romanian Baccalaureate Diploma</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I graduated High School as <b>Valedictorian</b>.
                                    <br>
                                    <ul class="text-muted">
                                        <li>Overall achieved grade: 9.96/10</li>
                                        <li>Romanian Baccalaureate: 9.45/10</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- education End -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section End -->
