<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeInDown animated">
                <h2 class="section-heading">Services and domains</h2>
                <h3 class="section-subheading text-muted">
                    Section summarising fields I have experience in.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 wow fadeInDown animated">
                <i class="fa fa-lightbulb-o fa-4x"></i>
                <h4 class="service-heading">Data Structures and Algorithms</h4>
                <p class="text-muted">
                    Through my High School and academic years I have taken part
                    in a significant number of coding contests held at regional,
                    national, international and university level and I was awarded
                    and medalled for my results.
                </p>
            </div>
            <div class="col-md-3 wow fadeInUp animated">
                <i class="fa fa-industry fa-4x"></i>
                <h4 class="service-heading">Backend development</h4>
                <p class="text-muted">
                    I have enhanced backend development skills especially in
                    python, using mainly Django and other related frameworks
                    for several projects.
                </p>
            </div>
            <div class="col-md-3 wow fadeInDown animated">
                <i class="fa fa-database fa-4x"></i>
                <h4 class="service-heading">Database design</h4>
                <p class="text-muted">
                    Enhanced experience in database management and data analysis,
                    including PostgresSQL, PostGIS, PgAdmin, MySQL.
    </p>
            </div>
            <div class="col-md-3 wow fadeInUp animated">
                <i class="fa fa-desktop fa-4x"></i>
                <h4 class="service-heading">Front-end development</h4>
                <p class="text-muted">
                    Experience in front-end development, namely Javascript, HTML, CSS,
                    gained through building personal projects and contributing
                    to several several web softwares.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
