<!-- Status Section -->
<section id="status" class="counter">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4 col-xs-4 wow flipInY animated">
                <i class="fa fa-clock-o fa-3x"></i>
                <h3 class="total-number-1">2150</h3>
                <p>Approx. Hours of Work Experience</p>
            </div>
            <div class="col-sm-4 col-xs-4 wow flipInY animated">
                <i class="fa fa-code fa-3x"></i>
                <h3 class="total-number-2">48350</h3>
                <p>Approx. Lines of code</p>
            </div>
            <div class="col-sm-4 col-xs-4 wow flipInY animated">
                <i class="fa fa-trophy fa-3x"></i>
                <h3 class="total-number-3">32</h3>
                <p>Relevant Awards Won</p>
            </div>
        </div>
    </div>
</section>
<!-- Status Section End -->
